@import url('hamburger.css');

:host {
	--_transition-duration: var(--transition-duration, .2s);
	--_color-text: var(--color-text, black);
	--_color-background: var(--color-background, white);
	--_translateX: var(--translateX, 0);
	--_translateY: var(--translateY, -100%);

	position: relative;
}

.clipbox {
	position: absolute;
	display: grid;
	overflow: hidden;
	transition: visibility var(--_transition-duration) linear;

	[aria-expanded='false'] + & {
		visibility: hidden;
	}
}

.clipbox__panel {
	transition: transform var(--_transition-duration) cubic-bezier(0.77, 0, 0.175, 1);
	background-color: var(--_color-background);

	[aria-expanded='false'] + .clipbox > & {
		transform: translate(var(--_translateX), var(--_translateY));
	}
}

/* Utilities */
.visually-hidden {
	position: absolute;
	transform: scale(0);
}

:focus-visible {
	outline: 2px solid;
	outline-offset: 2px;
}